<!DOCTYPE html>

<html>

<head>
    <title>{{title}}</title>
    <!--link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css" -->
    <script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Create an account below:</p>
	<p class="userMsg">{{errors}}</p>	
	<form name="createAcctForm" method="POST" id="createAcctForm">
		<input placeholder="First Name" name="firstName" class="field" />
		<input placeholder="Last Name" name="lastName" class="field" />		
		<input placeholder="Email" name="email" class="field" />
		<input placeholder="Type in a password" name="password" id="password" class="field" />
		<input placeholder="Confirm password" name="password2" id="password2" class="field" />
		<button type="submit" class="submitBtn" formaction="/users/">Submit</button>
	</form>

	
    </div>

    {{>footer}}
    <!-- script src="/js/index.js"></script -->	
</body>

</html>
